;; Analyzed by ClojureScript 1.8.40
{:use-macros nil, :excludes #{}, :name ui.fx.fs, :imports nil, :requires {re-frame.core re-frame.core, lib.util lib.util}, :uses {dispatch re-frame.core, reg-fx-service lib.util}, :defs {fs {:name ui.fx.fs/fs, :file "ui_src/fx/fs.cljs", :line 5, :column 1, :end-line 5, :end-column 12, :meta {:file "/Users/dmitry/research/album/ui_src/fx/fs.cljs", :line 5, :column 10, :end-line 5, :end-column 12}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:path :src-path :on-success :fs/copy :filesize :fs/stat :on-error :dest-path}, :order [:fs/stat :path :on-success :on-error :filesize :fs/copy :src-path :dest-path]}, :doc nil}