;; Analyzed by ClojureScript 1.8.40
{:name ui.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros {reagent reagent.core, reagent.core reagent.core, cljs.pprint cljs.pprint}, :uses {h-box re-com.core, pprint cljs.pprint, atom reagent.core, subscribe re-frame.core, h-split re-com.core, reg-sub re-frame.core, perfect-layout layout.core, reg-event-db re-frame.core, date-string ui.util, scroller re-com.core, button re-com.core, box re-com.core, grouped-layout layout.core, reg-fx re-frame.core, title re-com.core, v-box re-com.core, trim-v re-frame.core, dispatch re-frame.core, md-icon-button re-com.core, label re-com.core, reg-event-fx re-frame.core, throbber re-com.core}, :requires {reagent reagent.core, re-com.core re-com.core, day8.re-frame.async-flow-fx day8.re-frame.async-flow-fx, layout.core layout.core, reagent.core reagent.core, ui.util ui.util, cljs.pprint cljs.pprint, ui.fx.fs ui.fx.fs, ui.fx.main-thread ui.fx.main-thread, ui.fx.img ui.fx.img, re-frame.core re-frame.core}, :imports nil}