;; Analyzed by ClojureScript 1.8.40
{:name ui.util, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {MONTHS {:name ui.util/MONTHS, :file "ui_src/util.cljs", :line 3, :column 1, :end-line 3, :end-column 12, :meta {:file "/Users/dmitry/research/album/ui_src/util.cljs", :line 3, :column 6, :end-line 3, :end-column 12}}, date-string {:protocol-inline nil, :meta {:file "/Users/dmitry/research/album/ui_src/util.cljs", :line 19, :column 7, :end-line 19, :end-column 18, :arglists (quote ([date]))}, :name ui.util/date-string, :variadic false, :file "ui_src/util.cljs", :end-column 18, :method-params ([date]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 19, :end-line 19, :max-fixed-arity 1, :fn-var true, :arglists (quote ([date]))}}}