;; Analyzed by ClojureScript 1.8.40
{:use-macros nil, :excludes #{}, :name ui.view.common.structure, :imports nil, :requires {re-com.core re-com.core}, :uses {h-box re-com.core, v-box re-com.core}, :defs {main {:protocol-inline nil, :meta {:file "/Users/dmitry/research/album/ui_src/views/common/structure.cljs", :line 4, :column 7, :end-line 4, :end-column 11, :arglists (quote ([{:keys [app-bar side-nav content right-nav]}]))}, :name ui.view.common.structure/main, :variadic false, :file "ui_src/views/common/structure.cljs", :end-column 11, :method-params ([p__39112]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 1, :fn-var true, :arglists (quote ([{:keys [app-bar side-nav content right-nav]}]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:children :app-bar :content :right-nav :side-nav}, :order [:app-bar :side-nav :content :right-nav :children]}, :doc nil}