;; Analyzed by ClojureScript 1.8.40
{:name re-frame.db, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {ratom re-frame.interop}, :requires {re-frame.interop re-frame.interop}, :imports nil, :defs {app-db {:name re-frame.db/app-db, :file "resources/public/js/devcards_out/re_frame/db.cljc", :line 10, :column 1, :end-line 10, :end-column 12, :meta {:file "/Users/dmitry/research/album/resources/public/js/devcards_out/re_frame/db.cljc", :line 10, :column 6, :end-line 10, :end-column 12}}}}