;; Analyzed by ClojureScript 1.8.40
{:name layout.util, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {selector {:protocol-inline nil, :meta {:file "/Users/dmitry/research/album/ui_src/layout/util.cljs", :line 3, :column 7, :end-line 3, :end-column 15, :arglists (quote ([key-fn coll]))}, :name layout.util/selector, :variadic false, :file "ui_src/layout/util.cljs", :end-column 15, :method-params ([key-fn coll]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 2, :fn-var true, :arglists (quote ([key-fn coll]))}}}