html, body, #app-container {
  height: 100%;
}

body {
  background: #fff;
}

/* ---- controls ---- */

.toolbar, .sidebar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toolbar {
  z-index:    1000;
}

.left-sidebar {
  position:   fixed;
  top:        0;
  left:       0;
  height:     100%;
  background: #fff;
  z-index:    2000;
}

.sidebar-label {
  font-size: 0.8em;
  color: #aaa;
}

.active .sidebar-label { color: inherit; }

/* ---- images ---- */

.image {
  z-index:        1;
  max-height:     100%;
  max-width:      100%;
}

/* ---- sidebar animation ---- */

.sidebar { width: 200px; }

.sidebar-enter {
  left: -200px;
}

.sidebar-enter-active {
  left: 0;
  transition: left 100ms ease-in;
}

.sidebar-leave {
  left: 0;
}

.sidebar-leave-active {
  left: -200px;
  transition: left 100ms linear;
}

/* ---- lists ---- */

.list-group, .list-group-item {
  border-radius: 0;
  border:  0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-group-item.active {
  background-color: #eeeeee;
  color: #337ab7;
}

.list-group-item:hover, .list-group-item.active:hover {
  color: inherit;
  background-color: #eeeeee;
}

.list-group-item.active:hover {
  color: #337ab7;
}

/* ---- sidebar ---- */

.sidebar-icon {
  font-size: 24px;
  width: 1em;
  text-align: center;
}

.collapsed .list-group-item.active,
.collapsed .list-group-item:hover,
.collapsed .list-group-item.active:hover {
  background-color: inherit;
}