.property-list {

}

html, body, #app-container {
  height: 100%;
}

body {
  background: #fff;
}

/* ---- controls ---- */

.toolbar, .sidebar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toolbar {
  z-index:    1000;
}

.left-sidebar {
  position:   fixed;
  top:        0;
  left:       0;
  height:     100%;
  background: #fff;
  z-index:    2000;
}

.sidebar-label {
  font-size: 0.8em;
  color: #aaa;
}

/* ---- images ---- */

.image {
  z-index:        1;
  max-height:     100%;
  max-width:      100%;
}