html, body, #app-container {
  height: 100%;
}

body {
  background: #fff;
}

/* ---- controls ---- */

.toolbar, .sidebar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toolbar {
  z-index:    1000;
}

.left-sidebar {
  position:   fixed;
  top:        0;
  left:       0;
  height:     100%;
  background: #fff;
  z-index:    2000;
}

.sidebar-label {
  font-size: 0.8em;
  color: #aaa;
}

.active .sidebar-label { color: inherit; }

/* ---- sidebar animation ---- */

.sidebar { width: 200px; }

.sidebar-enter {
  left: -200px;
}

.sidebar-enter-active {
  left: 0;
  transition: left 100ms ease-in;
}

.sidebar-leave {
  left: 0;
}

.sidebar-leave-active {
  left: -200px;
  transition: left 100ms linear;
}

/* ---- lists ---- */

.list-group, .list-group-item {
  border-radius: 0;
  border:  0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-group-item.active {
  background-color: #eeeeee;
  color: #2196f3;
}

.list-group-item:hover, .list-group-item.active:hover {
  color: inherit;
  background-color: #eeeeee;
}

.list-group-item.active:hover {
  color: #2196f3;
}

/* ---- sidebar ---- */

.sidebar-icon {
  font-size: 24px;
  width: 1em;
  text-align: center;
}

.collapsed .list-group-item.active,
.collapsed .list-group-item:hover,
.collapsed .list-group-item.active:hover {
  background-color: inherit;
}

/* toolbar */

.fullscreen {
  background: #000;
}

.fullscreen-toolbar {
  color: #fff;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fullscreen-sidebar {
  background: #fff;
}

.fullscreen-button {
  z-index: 2;
  color: #aaa;
  font-weight: bold;
  top: 0;
  bottom: 0;
}

.fullscreen-button .rc-md-circle-icon-button{
    color: #000;
    background: #aaa;
}


/* -------- gallery images -------- */

.gallery-image {
  position: relative;
  background: #eeeeee;
  padding: 0;
  transition: padding 75ms ease-in;
}

.gallery-image.active {
  transition: padding 75ms ease-in;
}

.photo-selection-icon {
  position:   absolute;
  top:        0.25em;
  left:       0.25em;
  opacity:    0;
  background: none;
  color:      rgba(211,211,211,0.85);
}

.photo-selection-icon:hover {
  color: #fff;
}

.photo-selection-icon.active {
  opacity: 1;
  color: #2196f3;
}

.gallery-image:hover .photo-selection-icon {
  opacity: 1;
}