;; Analyzed by ClojureScript 1.8.40
{:name ui.controls.events, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {reg-event-db re-frame.core, trim-v re-frame.core}, :requires {re-frame.core re-frame.core}, :imports nil, :cljs.analyzer/constants {:seen #{:controls/sidebar-left? :controls/push-view :controls/set-view :controls/close-left-sidebar :controls/open-left-sidebar :controls/pop-view :photos-view :controls/view-stack}, :order [:controls/set-view :controls/view-stack :controls/push-view :photos-view :controls/pop-view :controls/open-left-sidebar :controls/sidebar-left? :controls/close-left-sidebar]}}