;; Analyzed by ClojureScript 1.8.40
{:name ui.controls.views, :doc nil, :excludes #{}, :use-macros nil, :require-macros {reagent reagent.core, reagent.core reagent.core}, :uses {h-box re-com.core, subscribe re-frame.core, menu ui.views.common.menu, box re-com.core, title re-com.core, v-box re-com.core, dispatch re-frame.core, md-icon-button re-com.core, base-toolbar ui.views.common.toolbar, hyperlink re-com.core}, :requires {re-frame.core re-frame.core, reagent reagent.core, reagent.core reagent.core, ui.views.common.menu ui.views.common.menu, ui.views.common.toolbar ui.views.common.toolbar, re-com re-com.core, re-com.core re-com.core}, :imports nil}