;; Analyzed by ClojureScript 1.8.40
{:name lib.controls, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {reg-sub re-frame.core, reg-event-db re-frame.core, trim-v re-frame.core, db-flag lib.util}, :requires {re-frame.core re-frame.core, lib.util lib.util}, :imports nil, :cljs.analyzer/constants {:seen #{:lib.controls/close-photo-info :lib.controls/open-main-menu :lib.controls/main-menu? :lib.controls/view-stack :lib.controls/push-view :lib.controls/photo-info? :lib.controls/set-view :photos-view :lib.controls/stack :lib.controls/current-view :lib.controls/close-main-menu :lib.controls/open-photo-info :lib.controls/pop-view}, :order [:lib.controls/set-view :lib.controls/stack :lib.controls/push-view :photos-view :lib.controls/pop-view :lib.controls/view-stack :lib.controls/current-view :lib.controls/main-menu? :lib.controls/open-main-menu :lib.controls/close-main-menu :lib.controls/photo-info? :lib.controls/open-photo-info :lib.controls/close-photo-info]}}