;; Analyzed by ClojureScript 1.8.40
{:name lib.slideshow, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {reg-sub re-frame.core, reg-event-db re-frame.core, trim-v re-frame.core, reg-event-fx re-frame.core}, :requires {re-frame.core re-frame.core, datascript datascript.core, datascript.core datascript.core}, :imports nil, :cljs.analyzer/constants {:seen #{:db :carousel-view :lib.slideshow/rewind :lib.controls/push-view :lib.slideshow/advance :dispatch :lib.slideshow/close :lib.slideshow/state :lib.slideshow/cursor :idx :lib.slideshow/stage :items :lib.slideshow/open :lib.controls/pop-view}, :order [:lib.slideshow/open :db :items :idx :dispatch :lib.slideshow/state :lib.controls/push-view :carousel-view :lib.slideshow/close :lib.controls/pop-view :lib.slideshow/advance :lib.slideshow/rewind :lib.slideshow/cursor :lib.slideshow/stage]}}